@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Paloseco, sans-serif;
  background: black;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, black, transparent);
  z-index: 100000;
}

h2 {
  z-index: 1;
  text-align: center;
  font-size: 1.7rem;
  color: #fff;
}

p {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#moon {
  z-index: 1;
  transform: scale(1);
  width: 80vw;
  position: absolute;
  top: 1vh;
}

#cloud1 {
  position: absolute;
  left: 0;
  top: 1vh;
  z-index: 2;
}

#cloud2 {
  position: absolute;
  right: 0;
  top: 1vh;
  max-width: 800px;
  z-index: 0;
}

#star {
  z-index: 0;
  position: absolute;
  right: -500px;
  top: -400px;
  max-width: 250px;
  transform: scale(2);
}

#me {
  position: absolute;
  top: 110%;
  z-index: 10000;
  width: 100%;
  transform: scale(0);
  margin-left: 80px;
}

#grass {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  transform: scale(1);
}

/* Ultra Super Extra small devices (phones, 399px and down) */
@media only screen and (max-width: 399px) {
  #moon {
    width: 120vh;
    left: -80px;
    top: 100px;
  }

  #cloud1 {
    left: 0;
    top: 220px;
    width: 200px;
  }

  #cloud2 {
    right: 0;
    top: 150px;
    width: 200px;
  }

  #star {
    right: -500px;
    top: -200px;
    transform: scale(2);
  }

  #me {
    top: 90vh;
    width: 130vh;
    margin-left: 0;
  }

  section {
    height: 70vh;
  }

  .first {
    margin-top: 15px;
  }

  h2 {
    margin: 10px;
    padding-bottom: 10px;
  }

  p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

/* Super Extra small devices (phones, between 400px and 499px) */
@media only screen and (min-width: 400px) and (max-width: 499px) {
  #moon {
    width: 130vh;
    left: -80px;
    top: 80px;
  }

  #cloud1 {
    left: 0;
    top: 220px;
    width: 230px;
  }

  #cloud2 {
    right: 0;
    top: 150px;
    width: 230px;
  }

  #me {
    top: 100vh;
    width: 110vh;
    margin-left: 0;
  }

  section {
    height: 70vh;
  }

  h2 {
    margin: 10px;
    padding-bottom: 10px;
  }

  p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

/* Extra small devices (phones, 500px and up) */
@media only screen and (min-width: 500px) {
  #moon {
    width: 150vh;
    left: -80px;
    top: 80px;
  }

  #cloud1 {
    left: 25px;
    top: 220px;
    width: 230px;
  }

  #cloud2 {
    right: 25px;
    top: 150px;
    width: 230px;
  }

  #me {
    top: 100vh;
    width: 110vh;
    margin-left: 0;
  }

  section {
    height: 70vh;
  }

  h2 {
    margin: 10px;
    padding-bottom: 10px;
  }

  p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #moon {
    width: 150vh;
    left: 0;
    top: 80px;
  }

  #cloud1 {
    left: 200px;
    top: 220px;
    width: 230px;
  }

  #cloud2 {
    right: 125px;
    top: 150px;
    width: 230px;
  }

  #me {
    top: 20vh;
    width: 190vh;
    margin-left: 0;
  }

  section {
    height: 70vh;
  }

  h2 {
    margin: 10px;
    margin-left: 80px;
    padding-bottom: 10px;
  }

  p {
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #moon {
    width: 200vh;
    left: -50px;
    top: -80px;
  }

  #cloud1 {
    left: 250px;
    top: 100px;
    width: 50vh;
  }

  #cloud2 {
    right: 200px;
    top: 50px;
    width: 50vh;
  }

  #me {
    top: 90vh;
    width: 100vh;
    margin-left: 80px;
  }

  h2 {
    margin: 10px;
    margin-left: 80px;
    padding-bottom: 10px;
    font-size: 2rem;
  }

  p {
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h2 {
    margin: 10px;
    margin-left: 80px;
    padding-bottom: 10px;
    font-size: 2rem;
  }

  p {
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  section::before {
    bottom: -5px;
  }

  #me {
    top: 100vh;
    width: 150vh;
    margin-left: 80px;
  }

  p {
    font-size: 1.5rem;
  }
}

/* Iphone 6/7/8 Plus Landscape */
@media only screen and (max-width: 736px) and (max-height: 414px) and (orientation: landscape) {
  #moon {
    width: 150vh;
    left: 5vw;
    top: 0;
  }

  #cloud1 {
    left: 100px;
    top: 20px;
    width: 230px;
  }

  #cloud2 {
    right: 125px;
    top: 50px;
    width: 230px;
  }

  #me {
    top: 50vh;
    width: 230vh;
    margin-left: 0;
  }
}
