.real-wrapper {
  background-image: url("../images/backgrounds/13167.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.container-form {
  text-align: center;
  font-family: "SequentialistBB";
  max-width: 500px;
  margin: 20% auto;
  padding: 16px;
  border: 5px solid black;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    rgb(88, 88, 88);
  background-size: 25px, 100%;
  box-shadow: 6px 0 2px rgba(0, 0, 0, 0.35);
}

form {
  display: inline-block;
}

.container-form::before {
  content: "";
  border: 2px solid black;
  display: block;
  width: 480px;
  height: 345px;
  position: absolute;
  top: 48%;
  left: 50%;
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.container-form h1 {
  background: #43d1af;
  padding: 20px 0;
  font-size: 150%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}
.container-form input[type="text"],
.container-form input[type="email"],
.container-form textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font-family: monospace;
}
.container-form input[type="text"]:focus,
.container-form input[type="email"]:focus,
.container-form textarea:focus {
  box-shadow: 0 0 5px #43d1af;
  padding: 3%;
  border: 1px solid #43d1af;
}

.container-form input[type="submit"],
.container-form input[type="button"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #df49a6;
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  font-family: "SequentialistBB";
}
.container-form input[type="submit"]:hover,
.container-form input[type="button"]:hover {
  background: #2ebc99;
}
