form {
  padding-bottom: 80px;
}

textarea {
  background: rgba(7, 109, 182, 0.219);
  width: 100%;
  /* height: 110px; */
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  font-family: Paloseco, sans-serif;
  font-size: 1.2rem;
  color: #fff;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

.nameinput,
.emailinput {
  width: 100%;
  height: 47px;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  font-family: Paloseco, sans-serif;
  font-size: 1.2rem;
  color: #fff;
  padding-left: 15px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="submit"] {
  cursor: pointer;
}

input.nameinput {
  background: rgba(7, 109, 182, 0.219);
  padding-left: 15px;
}

input.emailinput {
  background: rgba(7, 109, 182, 0.219);
  padding-left: 15px;
}

input.message {
  background: rgba(7, 109, 182, 0.219);
  padding-left: 15px;
  margin-top: 20px;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

.send-btn {
  border: none;
  font-family: Paloseco, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  width: 100px;
  height: 45px;
  color: #000;
  background: #fff;
  display: block;
  position: relative;
  outline: none;
  border-radius: 5px;
}

.send-btn:hover {
  -webkit-animation: bounce 0.3s infinite alternate;
  -moz-animation: bounce 0.3s infinite alternate;
  animation: bounce 0.3s infinite alternate;
}

/* Ultra Super Extra small devices (phones, 399px and down) */
@media only screen and (max-width: 399px) {
  .nameinput,
  .emailinput,
  textarea {
    font-size: 1rem;
  }
}
