@import url("https://fonts.googleapis.com/css?family=Dekko|Lato:900|Rock+Salt");
@font-face {
  font-family: "SequentialistBB";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff")
      format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SequentialistBB";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff")
      format("woff");
  font-style: italic;
  font-weight: 400;
}

:root {
  font-size: 16px;
  --text-primary: #ffffff;
  --text-secondary: #07c917;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 300ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.next-scene {
  z-index: 3;
  margin: 1em 1em;
  padding: 0.1em 1em;
  text-align: center;
  font-family: Dekko, cursive;
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 25px, 100%;
  border: 0.4rem solid #000;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  width: 150px;
  box-shadow: 3px 3px 5px rgb(27, 27, 27);
  -webkit-animation: bounce 0.3s infinite alternate;
  -moz-animation: bounce 0.3s infinite alternate;
  animation: bounce 0.3s infinite alternate;
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.1);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.1);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.1);
  }
}

.change-next-scene {
  display: none;
}

.back-scene {
  z-index: 3;
  margin: 1em 6.5em;
  padding: 0.1em 1em;
  text-align: center;
  font-family: Dekko, cursive;
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 25px, 100%;
  border: 0.4rem solid #000;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  width: 150px;
  box-shadow: 3px 3px 5px rgb(27, 27, 27);
}

.back-scene-changed {
  display: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .next-scene {
    bottom: 70px;
    margin-right: 15px;
    width: 100px;
    height: 50px;
    font-size: 1.3rem;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .next-scene {
    font-size: 1.4rem;
    bottom: 70px;
    margin-right: 15px;
    width: 110px;
    height: 50px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 319px) {
  .next-scene {
    bottom: 70px;
    margin-right: 15px;
    width: 100px;
    height: 50px;
    font-size: 1.3rem;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .next-scene {
    bottom: 5px;
    margin-right: 30px;
    width: 150px;
    height: 70px;
    font-size: 2rem;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .next-scene {
    margin-right: 35px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) and (orientation: portrait) {
  .next-scene {
    bottom: 5px;
    margin-right: 30px;
    width: 150px;
    height: 70px;
    font-size: 2rem;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .next-scene {
    bottom: 0;
    margin-right: 40px;
    width: 150px;
    height: 70px;
    font-size: 2rem;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .next-scene {
    bottom: 0;
    margin-right: 40px;
    width: 200px;
    height: 90px;
    font-size: 2.8rem;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .next-scene {
    bottom: 0;
    margin-right: 30px;
    width: 120px;
    height: 60px;
    font-size: 1.5rem;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .next-scene {
    bottom: 0;
    margin-right: 30px;
    width: 120px;
    height: 60px;
    font-size: 1.5rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
