@import url("https://fonts.googleapis.com/css?family=Dekko|Lato:900|Rock+Salt");
@font-face {
  font-family: "SequentialistBB";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff")
      format("woff");
  font-style: normal;
  font-weight: 400;
}

:root {
  font-size: 16px;
  --text-primary: #ffffff;
  --text-secondary: #07c917;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 300ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
