.container-scene-unnumbered {
  background-image: url("../images/backgrounds/vs-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.martin-scene-unnumbered {
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 180px;
}

.speech-bubble1-scene-unnumbered {
  position: absolute;
  width: 35%;
  top: 50px;
  left: 50px;
}

.typed1-scene-unnumbered {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  font-family: SequentialistBB, cursive;
  top: 119px;
  left: 155px;
  transform: rotate(-15deg);
  white-space: pre;
  text-align: center;
}

.monster-scene-unnumbered {
  position: absolute;
  top: -80px;
  right: -80px;
  width: 38%;
}

.speech-bubble2-scene-unnumbered {
  position: absolute;
  width: 35%;
  top: 0;
  right: 300px;
}

.typed2-scene-unnumbered {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  font-family: SequentialistBB, cursive;
  top: 80px;
  right: 420px;
  white-space: pre;
  text-align: center;
}

.next-scene-unnumbered {
  margin: 2rem 2rem;
  padding: 0.2rem 1.25rem;
  text-align: center;
  font-family: Dekko, cursive;
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 25px, 100%;
  border: 0.4rem solid #000;
  position: absolute;
  display: inline;
  bottom: 0;
  right: 0;
  cursor: pointer;
  float: left;
  width: 150px;
}

.back-scene-unnumbered {
  margin: 2rem 13rem;
  padding: 0.2rem 1.25rem;
  text-align: center;
  font-family: Dekko, cursive;
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 25px, 100%;
  border: 0.4rem solid #000;
  position: absolute;
  display: inline;
  bottom: 0;
  right: 0;
  cursor: pointer;
  float: left;
  width: 150px;
}
