.container-scene5 {
  background-image: url("https://s31.postimg.cc/yaze1agjv/abstract-background-canvas-249798.jpg");
  background-repeat: repeat;
  background-position: bottom;
  background-size: cover;
  animation: animate 15s linear infinite;
  width: 100vw;
  height: 100vh;
}

@keyframes animate {
  0% {
    background-position: left 0px top 10px;
  }
  40% {
    background-position: left 800px top 10px;
  }
}

.main-image-scene5 {
  content: url("../images/badGuy/08.png");
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 100%;
  margin: 0 auto;
  overflow: visible;
  max-width: 100%;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.speech-bubble-scene5 {
  content: url("../images/speechBubbles/speech-bubble1.png");
  position: absolute;
  top: 0;
  right: 30%;
}

.speech-bubble-scene5-changed {
  display: none;
}

.text-scene5 {
  z-index: 2;
  position: absolute;
  width: 50%;
  top: 8.5vw;
  left: 17%;
  font-size: 3.2vw;
  font-weight: bold;
  font-family: SequentialistBB, cursive, Helvetica, sans-serif;
  white-space: pre;
  text-align: center;
  padding: 20px;
  transform: rotate(-15deg);
  text-shadow: 2px 2px 4px red;
}

.text-scene5-changed {
  display: none;
}

.frame {
  position: absolute;
  top: 30%;
  left: 90px;
  width: 40%;
  height: 40%;
  background-image: url("https://s31.postimg.cc/yaze1agjv/abstract-background-canvas-249798.jpg");
  background-repeat: repeat;
  background-position: bottom;
  animation: animate1 15s linear infinite;
  border: 8px solid black;
  box-shadow: 6px 7px 2px rgba(0, 0, 0, 0.658);
}

@keyframes animate1 {
  0% {
    background-position: right 0px top 10px;
  }
  40% {
    background-position: right 800px top 10px;
  }
}

.main-image2-scene5 {
  content: url("../images/me/26.png");
  transform: rotateY(180deg);
  position: absolute;
  bottom: 0;
  width: 60%;
}

.speech-bubble2-scene5 {
  content: url("../images/speechBubbles/speech-bubble1.png");
  z-index: 2;
  transform: rotateY(180deg);
  position: absolute;
  left: 15%;
  top: 7vw;
  width: 50%;
}

.text2-scene5 {
  z-index: 2;
  position: absolute;
  width: 50%;
  top: 11.5vw;
  left: 15%;
  font-size: 2.3vw;
  font-weight: bold;
  font-family: SequentialistBB, cursive, Helvetica, sans-serif;
  white-space: pre;
  text-align: center;
  padding: 20px;
}
