.container-scene-four {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background1-scene-four {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 40%, 0 55%);
  clip-path: polygon(0 0, 100% 0%, 100% 40%, 0 55%);
  padding: 27px;
  padding-left: 105px;
}

.background2-scene-four {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100%;
  -webkit-clip-path: polygon(0 71%, 100% 79%, 100% 100%, 0 100%);
  clip-path: polygon(0 58%, 100% 43%, 100% 100%, 0 100%);
  padding: 27px;
  padding-left: 105px;
}
