.bg-scene1 {
  background-image: url("../images/backgrounds/bg-scene1.jpg");
}

.img-scene1 {
  content: url("../images/me/01.png");
}

.img-scene1-chg {
  content: url("../images/me/24.png");
}

el {
  color: green;
  animation: color-change 5s linear infinite;
}

.txt-scene1 {
  background-image: url("../images/speechBubbles/speech-bubble1.png");
}

.txt-scene1-chg {
  background-image: url("../images/speechBubbles/speech-bubble1.png");
}
