.wrapper {
  background-image: url("../images/backgrounds/bg-scene1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.main-image {
  content: url("../images/me/01.png");
  max-width: 100%;
  max-height: 100vh;
  position: absolute;
  opacity: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.change-main-image {
  content: url("../images/me/24.png");
  max-width: 100%;
  max-height: 100vh;
  position: absolute;
  opacity: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.speech-bubble {
  content: url("../images/speechBubbles/speech-bubble1.png");
  z-index: 1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  max-width: 50vw;
  max-height: 50vh;
  top: 0;
  left: 48%;
}

.change-speech-bubble {
  content: url("../images/speechBubbles/speech-bubble1.png");
  z-index: 1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  max-width: 100%;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 48%;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

el {
  color: #ff723a;
  text-shadow: 2px 2px 2px black;
}

.text-scene1 {
  z-index: 2;
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  top: 8%;
  left: 60%;
  font-size: calc(1.5vw + 1.5vh);
  font-weight: bold;
  font-family: SequentialistBB, cursive, Helvetica, sans-serif;
  white-space: pre;
  text-align: center;
}

.toogle-text-scene1 {
  z-index: 2;
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  top: 10%;
  left: 63%;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: SequentialistBB, cursive, Helvetica, sans-serif;
  white-space: pre;
  text-align: center;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

/* Mobile Styles */
@media only screen and (max-width: 599px) {
  .container-scene1 {
    background-position: right;
    max-width: 600px;
    margin: auto;
  }

  .main-image-scene1 {
    max-height: 560px;
    margin: auto;
    bottom: 80px;
  }

  .speech-bubble-scene1 {
    width: 60%;
    left: 40%;
    top: 15%;
  }

  .typed-scene1 {
    font-size: 2.8vw;
    top: 16%;
    left: 46%;
  }

  .next-scene1 {
    margin: 6rem 1rem;
    width: 100px;
    height: 50px;
    font-size: 1.7rem;
    padding: 0rem 0rem;
  }
}