.container-scene2 {
  background-image: url("../images/backgrounds/bg-scene2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.main-image-scene2 {
  content: url("../images/me/22.png");
  position: absolute;
  opacity: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100vh;
  margin: 0 auto;
  overflow: visible;
  max-width: 100%;
  transform: rotateY(180deg);
}

.main-image-scene2-changed {
  content: url("../images/me/03.png");
  position: absolute;
  opacity: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100vh;
  margin: 0 auto;
  overflow: visible;
  max-width: 100%;
  transform: rotateY(180deg);
}

.speech-bubble-scene2 {
  content: url("../images/speechBubbles/speech-bubble1.png");
  z-index: 1;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  position: absolute;
  width: 50%;
  top: 3vw;
  left: 50%;
}

.speech-bubble-scene2-changed {
  content: url("../images/speechBubbles/speech-bubble4.png");
  z-index: 1;
  position: absolute;
  width: 40%;
  top: 0;
  right: -5%;
  transform: rotateY(180deg) rotateZ(20deg);
}

.typed-scene2 {
  z-index: 2;
  position: absolute;
  width: 50%;
  top: 8vw;
  left: 50%;
  font-size: 2.5vw;
  font-weight: bold;
  font-family: SequentialistBB, cursive, Helvetica, sans-serif;
  white-space: pre;
  text-align: center;
  padding: 20px;
}

.typed-scene2-changed {
  z-index: 2;
  position: absolute;
  width: 50%;
  top: 6vw;
  right: -7%;
  font-size: 2.5vw;
  font-weight: bold;
  font-family: SequentialistBB, cursive, Helvetica, sans-serif;
  white-space: pre;
  text-align: center;
  text-shadow: 2px 2px 4px red;
  transform: rotate(-13deg);
}

/* Mobile Styles */
@media only screen and (max-width: 599px) {
  .container-scene2 {
    background-position: right;
    max-width: 600px;
    margin: auto;
  }

  .main-image-scene2 {
    max-height: 510px;
    max-width: 150%;
    margin: auto;
    bottom: 80px;
  }

  .speech-bubble-scene2 {
    width: 60%;
    left: 40%;
    top: 15%;
  }

  .typed-scene2 {
    font-size: 2.8vw;
    top: 16%;
    left: 46%;
  }

  .next-scene2 {
    margin-right: 2rem;
    width: 100px;
    height: 50px;
    font-size: 1.7rem;
    padding: 0rem 0rem;
    bottom: 4rem;
  }

  .back-scene2 {
    margin-left: 2rem;
    width: 100px;
    height: 50px;
    font-size: 1.7rem;
    padding: 0rem 0rem;
    left: 0;
    bottom: 4rem;
  }
}
