.bg-scene6 {
  background-image: url("../images/backgrounds/bg-scene6.jpg");
}

.img-scene6 {
  z-index: 5;
  content: url("../images/badGuy/hands-flip.png");
  width: 150vh;
  position: fixed;
  top: 50vw;
}

.img2-scene6 {
  opacity: 0;
  width: 80vh;
  position: fixed;
  top: 10vh;
  left: 370px;
}

.messages-scene6 {
  font-family: monospace;
  font-size: 1.5rem;
  position: relative;
  top: 30px;
  color: green;
  text-align: left !important;
}
