.bg-scene2 {
  background-image: url("../images/backgrounds/bg-scene2.jpg");
}

.img-scene2 {
  content: url("../images/me/22.png");
  transform: rotateY(180deg);
}

.img-scene2-chg {
  display: none;
}

.img2-scene2 {
  content: url("../images/badGuy/25.png");
}

.img2-scene2-chg {
  display: none;
}

.img3-scene2 {
  content: url("../images/me/03.png");
  transform: rotateY(180deg);
}

.img3-scene2-chg {
  display: none;
}

.txt-scene2 {
  background-image: url("../images/speechBubbles/speech-bubble1.png");
}

.txt-scene2-chg {
  background-image: url("../images/speechBubbles/speech-bubble4.png");
}

.first-speech-scene2,
.second-speech-scene2,
.third-speech-scene2,
.fourth-speech-scene2,
.fifth-speech-scene2 {
  position: relative;
}

.third-speech-scene2,
.fourth-speech-scene2 {
  text-shadow: 2px 2px 6px #ff0000;
}

/* Ultra Super Extra small devices (phones, 399px and down) */
@media only screen and (max-width: 399px) {
  .second-speech-scene2 {
    top: 13px;
    font-size: 1rem;
  }

  .third-speech-scene2 {
    top: 33px;
    left: -15px;
    font-size: 2.7rem;
  }

  .fourth-speech-scene2 {
    top: 35px;
    left: -15px;
    font-size: 1.5rem;
  }

  .fifth-speech-scene2 {
    top: 5px;
    font-size: 3rem;
  }
}

/* Super Extra small devices (phones, between 400px and 499px) */
@media only screen and (min-width: 400px) and (max-width: 499px) {
  .second-speech-scene2 {
    top: 10px;
    font-size: 1.4rem;
  }

  .third-speech-scene2 {
    top: 30px;
    left: -15px;
    font-size: 3rem;
  }

  .fourth-speech-scene2 {
    top: 30px;
    left: -15px;
    font-size: 1.7rem;
  }

  .fifth-speech-scene2 {
    top: 15px;
    font-size: 3rem;
  }
}

/* Extra small devices (phones, 500px and up) */
@media only screen and (min-width: 500px) {
  .third-speech-scene2 {
    top: 20px;
    left: -15px;
    font-size: 3.5rem;
  }

  .fourth-speech-scene2 {
    top: 25px;
    left: -15px;
    font-size: 1.8rem;
  }

  .fifth-speech-scene2 {
    top: 15px;
    font-size: 3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .second-speech-scene2 {
    top: 15px;
  }

  .third-speech-scene2 {
    left: -25px;
    top: 65px;
    font-size: 4.5rem;
  }

  .fourth-speech-scene2 {
    top: 75px;
    left: -20px;
    font-size: 2.5rem;
  }

  .fifth-speech-scene2 {
    top: 20px;
    font-size: 3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .first-speech-scene2 {
    top: 35px;
    font-size: 3rem;
  }

  .second-speech-scene2 {
    top: 80px;
    font-size: 2.5rem;
  }

  .third-speech-scene2 {
    top: 110px;
    font-size: 5.5rem;
  }

  .fourth-speech-scene2 {
    top: 120px;
    left: -30px;
    font-size: 3rem;
  }

  .fifth-speech-scene2 {
    top: 60px;
    font-size: 7rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .first-speech-scene2 {
    top: -10px;
    font-size: 2.1rem;
  }

  .second-speech-scene2 {
    top: 10px;
    font-size: 2.1rem;
  }

  .third-speech-scene2 {
    top: 30px;
    font-size: 4.5rem;
  }

  .fourth-speech-scene2 {
    top: 40px;
    left: -20px;
    font-size: 2.3rem;
  }

  .fifth-speech-scene2 {
    top: -10px;
    font-size: 6.5rem;
  }
}
