.speech-bubble-scene6 {
  position: absolute;
  right: -15%;
  bottom: 55%;
  width: 50%;
  transform: rotate(-15deg);
}

.main-image-scene6 {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}
