.bg-scene2 {
  background-image: url("../images/backgrounds/bg-scene2.jpg");
}

.img-scene2 {
  content: url("../images/me/22.png");
  transform: rotateY(180deg);
}

.img-scene2-chg {
  content: url("../images/me/03.png");
  transform: rotateY(180deg);
}

.image2-scene2 {
  content: url("../images/badGuy/25.png");
  z-index: 10;
  position: absolute;
  bottom: 0;
  max-height: 50vh;
  margin: 0 auto;
  overflow: visible;
  max-width: 50%;
  opacity: 1;
  animation: fade 7s forwards;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
    right: -400px;
  }
  25%,
  50%,
  75% {
    opacity: 1;
    right: 0;
  }
}

.change-image2-scene8 {
  display: none;
}

.txt-scene2 {
  background-image: url("../images/speechBubbles/speech-bubble1.png");
  padding-top: 80px !important;
}

.txt-scene2-chg {
  background-image: url("../images/speechBubbles/speech-bubble4.png");
  position: absolute;
  width: 40%;
  bottom: 300px;
  right: -5%;
  padding-top: 100px !important;
}

@keyframes fadeText {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  50%,
  75% {
    opacity: 1;
  }
}